repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    - id: check-yaml
      args:
        - --allow-multiple-documents
      stages:
        - commit
      exclude: docs
    - id: trailing-whitespace
      stages:
        - commit
      exclude: docs
    - id: check-symlinks
      stages:
        - commit
      exclude: docs
    - id: check-json
      stages:
        - commit
      exclude: docs
    - id: check-merge-conflict
      stages:
        - commit
    - id: detect-private-key
      stages:
        - commit
      exclude: tests/data/dummy_key
    - id: no-commit-to-branch
      args: ['--branch=master']
      stages:
        - commit
    - id: check-added-large-files
      args: ['--maxkb=500']
      stages:
        - commit
      exclude: docs
    - id: check-ast
      stages:
        - commit
      exclude: docs
    - id: end-of-file-fixer
      stages:
        - commit
      exclude: docs

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.278
    hooks:
    - id: ruff
      args:
        - --fix
        - --exit-non-zero-on-fix
      exclude: docs

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
    - id: black
      exclude: docs
