---
os: linux
dist: xenial
language: python
python:
  - "3.7"
  - "3.8"
  - "3.9-dev"

stages:
  - test
  - deploy

jobs:
  allow_failures:
    - python: "3.9-dev"
  include:
    - stage: deploy
      python: "3.7"
      before_deploy:
        - >
          if [[ -n "$TRAVIS_TAG" ]] && [[ "${TRAVIS_TAG}" != "$(<VERSION)" ]]; then
              >&2 echo "ERROR: You have marked a release by applying a Git tag but the VERSION file doesn't match it"
              false
          fi
        - >
          if [[ -n "$TRAVIS_BRANCH" ]] && [[ "$TRAVIS_BRANCH" != "master" ]]; then
              # for branches other than master, set version in environment
              # for master, version will be picked up by setuptools from the VERSION file
              export VERSION=${TRAVIS_TAG:-$(<VERSION).dev${TRAVIS_BUILD_NUMBER}}
          fi
      deploy:
        # Publish all branch builds on PyPI test
        - provider: pypi
          user: "__token__"
          password: "$TEST_PYPI_ORG_TOKEN"
          distributions: sdist bdist_wheel
          server: https://test.pypi.org/legacy/
          on:
            all_branches: true

        # Publish only master branch builds on PyPI prod only when git tagged and tag is same as VERSION file
        - provider: pypi
          user: "__token__"
          password: "$PYPI_ORG_TOKEN"
          distributions: sdist bdist_wheel
          server: https://pypi.org/
          on:
            tags: true
            branch: master

install:
  - pip3 install -r requirements.txt -r requirements-dev.txt

script:
  - make lint unittest
  - codecov

env:
  global:
    # TEST_PYPI_ORG_TOKEN
    - secure: TUQef9pZbFtOBGLQkAT0pzRmYjTR6LJOucM2x+kMfGfueN1khiwx/LmcShgCha+7kH43v0/1q9Iyk6+xQIfe7TfkL5vxD90s3Ej+ioeSK0BeqaO6Tf/lnkU2AaqpJolJC+C35/whQ4d051vhUqefPN3zF0MSXrf8rYgHt59rDIwzumbJQ3+x3g+8UOwWqdhIwrt3lVWdnYaDzkIGVIys6NoUpeDLl2RvWRKT7/8SQAJ2GKS1KffzMlnk5hAP5O2RzgeB5o9n1I/hZKoS44PIPZwRzmkbl0r8wE7XRhvwgOcKxNY1lqsTpVMR2CQrNBvqeU/mBpREjsWV33s+kctl9qd/DbHVpFRGMnGbRPe8zgUNF+spr7DU5p4343KMuuuE2V9m8VGM0vI3z9ZPgVqI6dRju3M2hFMxpX2k4iVQK+mv9rvx0WkvYUEvrFE3v0D1IQ3BgOmC+cykdxeTRZPZfptNXSVQWDfO9ihKUakUyICZzO/4HrxhfUqQGcFhNmwbVj2VQW/9vFhew8CCLzfAUIzLYb+iyEsO57CHf1/5a4u3ThANUUI9LCEHQIXzhLSqdF+H3ES4LwdzTNeHxcFMShEyPs0iD71tYUXX14W6/fpI1fJukbaa1C8Af/4OKNcXS6s/88PIVQ38Jda+tp6G4BQyQAR1raTZGUMmySuvM9M=
    # PYPI_ORG_TOKEN
    - secure: fMpznoe0tgacFLmtNLzgDaB63enKWIfCVLHP1i4BZoywuuRMnsvZyEYmPZg7IfEF4a5q2OjscCkOcQis5k1cMHUN3dseYge+McEhPG+Lfifq3CuXyNkdi8c9JwiPTFxmBOqBDBm16edUjWVKBdLw1X7voq3Nsk9fjUWUoCTgvUSrTpcSlaUSGtGVhGOa3a/z1YynDpMVfl3knz4I3pZXoZk2OFA3zXntdFTxHOKHRpoPiasW1USDRuCmKw4Orpnu3lEFOA5MAwctLVEyFpRVy40aZrTiRWXXT++iHs+6+f+J5G8rkx7cXdi8UNa4DOKOE2236lB9SGWlsoqRSp5xHgTDobEKzsbLtjhfut4pvCaJ0zRA1Khe6CmxGQAbY0fA6Eg3WhsP285q6XdwYAG9O20++8en2rWntF9OiRfTEuXMLPY4g8y1V2hsFMROOd2a7HFPLnkG67bqU/wVNG8+xEk0dry0As9d5dtoT9dhuGy7duJE6EJjU04LwSBQajgat0wVaJouFGXWgpZUFeMJDfxI6C4BjkAvkKPX9LHiUfBIdzsbIcRSi4AP8+bQdUyfXVI86/tEVBWmtdzLBq9v2tKqVAL04/RgxoE3c5XBimD/CMoMNZRKped8h7aQtrAVGsLDv8ER7pGmiq8BsFhtAt5D4Nc+tmnpPwxDrROY+W4=
